.card {
    position: relative;
    display: flex;
    height: 250px;
    width: 300px;
    justify-content: center;
    margin: 15px;
}

.card:hover {
    cursor: pointer;
}

.card-image {
    background-color: white;
    height: 250px;
    width: 300px;
    border-radius: 5px;
}

.card-title {
    position: absolute;
    font-size: 1.5rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.4);
    bottom: 0;
    padding: 2px 5px;
    border-radius: 5px;
}

.card-display {
    display: flex;
    justify-content: space-around;
}