:root {
  --dark: #0A141F;
  --light: #B9C3D4;
  --light-blue: #659DAE;
  --dark-blue: #547B92;
}

.container {
  background-image: url(./assets/img/background.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
