:root {
  --dark: #0A141F;
  --light: #B9C3D4;
  --light-blue: #659dae;
  --dark-blue: #547B92;
}

.container {
  background-image: url('./assets/img/background.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.component-container {
  margin: 15px auto;
  background-color: rgba(101,157,174,0.15);
  height: 85vh;
  width: 75vw;
  border-radius: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.component-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
